.blog-post, .blog-list {
	margin-top: 30px;
	padding: 30px 0;
}
.blog-post__content {
	line-height: 1.58;
	font-size: 16px;
}
.blog-post__content p:not(:last-child) {
	margin: 1.45em 0;
}
.blog-post__content p {
	font-size: 1em;
}

.blog-post__content img {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.blog-post__date {
	color: #888;
	font-style: italic;
	margin-bottom: 2em;
}

.blog-post h1, .blog-post h2, .blog-post h3, .blog-post h4, .blog-post h5, .blog-post h6 {
	text-transform: none;
}

.blog-post__container {
	max-width: 800px;
}

@media screen and (min-width: 768px) {
	.blog-post, .blog-list {
		margin-top: 70px;
		padding: 4% 0;
	}

	.blog-post h1 {
		font-size: 2.5em;
	}

	.blog-post__content {
		font-size: 20px;
	}
	
	.blog-list {
		margin-top: 100px;
	}
}